<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app-2">
        <span>
        {{message}}
        </span>
        <button v-on:click="reverseMessage">메시지 뒤집기</button>
    </div>
    <script>
        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: '이 페이지는 ' + new Date() + ' 에 로드 되었습니다'
            },
            beforeCreate: function () {
                console.log("beforeCreate!");
            },
            created: function () {
                console.log("created!");
            },
            beforeUpdate: function () {
                console.log("beforeUpdate!");
            },
            updated: function () {
                console.log("updated!");
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        });
    </script>
</body>
</html>